<!DOCTYPE html>
<html lang="en">
<head>
	<title>:: DS doc gia:: </title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/custom.css">
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/menu1.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css" media="screen" />
</head>

<body>
	<!-- Header -->
	<div>
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
			  	<!-- Brand and toggle get grouped for better mobile display -->
			  	<div class="navbar-header">
			    	<a class="navbar-brand" href="#" style="color: orange;">H2ON</a>
			  	</div>

			  	<!-- Collect the nav links, forms, and other content for toggling -->
			  	<div class="collapse navbar-collapse">
			    	<form class="navbar-form navbar-left" role="search">
			      		<div class="form-group">
			        		<input type="text" class="form-control" placeholder="Tìm kiếm tại đây...">
			      		</div> 
			      		<div class="form-group">
			      			<select id="theLoai" class="form-control">
				    			<option disabled selected hidden>Tìm kiếm theo thể loại</option>
				    			<option>...</option>
				  			</select>
			      		</div>
			      		<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
			   		</form>
			    	<div class="nav navbar-nav navbar-right">
			    		<form class="navbar-form navbar-right" role="logout">
				      		<!--<div class="form-group">
				        		<input type="text" class="form-control" style="width: 160px;" placeholder="username">
				      		</div>
				      		<div class="form-group">
				        		<input type="password" class="form-control" style="width: 160px;"  placeholder="password">
				      		</div>
							
				      		<button type="submit" class="btn btn-warning">Đăng nhập</button>-->
							 Xin chào <a href="#" style="margin-right:100px"> Nguyễn Văn A     </a>
							<a href="#"> Đăng xuất </a>
			    		</form>
			    	</div>
			  	</div> 
			</nav>
			
			
				<!--endmenu-->
				
<div id="menu">
    <ul>
        <li class=" col-sm-2"><a href="#">Trang chủ</a></li>
        <li class=" col-sm-2"><a href="#" >Quản Lí kho sách</a>
		   <ul>
                <li width="300px";"><a href="#">Danh sách tài Liệu</a></li>
                <li><a href="#">Nhà cung cấp </a></li>
                
            </ul>
		</li>
        <li class=" col-sm-3"><a href="#" >Quản lí độc giả</a>
            
        </li>
        <li class=" col-sm-3"><a href="#">Quản lí nhân viên</a>
        	
        </li>
        <li class=" col-sm-2"><a href="#">Quản lí mượn trả</a>
		    <ul>
                <li><a  href="#">Quản lí mượn sách</a></li>
                <li><a  href="#">Quản lí trả sách</a></li>
                 
            </ul>
		</li>
		
        
    </ul>
</div>
				
			
			
		</header>
	</div>
	

	<!-- Ảnh chạy -->
	<div class="container">
		<div id="chayAnh" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#chayAnh" data-slide-to="0" class="active"></li>
				<li data-target="#chayAnh" data-slide-to="1"></li>
				<li data-target="#chayAnh" data-slide-to="2"></li>
			</ol>	

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/anh2.jpeg" alt="Thuvien1" width="1500" height="300">
				</div>

				<div class="item">
					<img src="images/anh2.jpeg" alt="Thuvien2" width="1500" height="300">
				</div>

				<div class="item">
					<img src="images/anh2.jpeg" alt="Thuvien3" width="1500" height="300">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#chayAnh" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#chayAnh" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	
	
	<!-- Main -->
	<div class="container">
	<!--thêm -->
	
		
	<div class="wrapper">
	   <div class="line"></div>
    
	   <form class="form" id="form" action="product/add.html" method="post" enctype="multipart/form-data">
			<fieldset>
				<div class="widget">
				   <!--<div class="title">
						<img src="images/icons/dark/add.png" class="titleIcon" />
						<h6>Danh sách Sách</h6>
					</div>
					-->
				    
			<div class="tab_container">
		<div id='tab1' class="tab_content pd0">
		
		
	
		<div class="title">
			<!--span class="titleIcon"><input type="checkbox" id="titleCheck" name="titleCheck" /></span>
			<h6>
				Danh sách sản phẩm			</h6>
		 	<!--<div class="num f12">Số lượng: <b>data.length()</b></div>-->
			
			<a href="/addreader" style="text-align:left">
					<img src="images/icon/add.png" />
					<span>Thêm mới</span>
			</a>
		</div>
		
		<table cellpadding="0" cellspacing="0" width="100%" class="sTable mTable myTable" id="checkAll">
			
			<thead class="filter"><tr><td colspan="6">
				<form class="list_filter form" action="index.php/admin/product.html" method="get">
				<!--	<table cellpadding="0" cellspacing="0" width="80%"><tbody>
					
						<tr>
							<td class="label" style="width:40px;"><label for="filter_id">Mã số</label></td>
							<td class="item"><input name="id" value="" id="filter_id" type="text" style="width:55px;" /></td>
							
							<td class="label" style="width:40px;"><label for="filter_id">Tên</label></td>
							<td class="item" style="width:155px;" ><input name="name" value="" id="filter_iname" type="text" style="width:155px;" /></td>
							
							<td class="label" style="width:60px;"><label for="filter_status">Thể loại</label></td>
							<td class="item">
								<select name="catalog">
									<option value=""></option>
																		      
									<option value="18">Giáo Trình      </option>
			                        <option value="17">Truyện Tranh </option>
			               	        <option value="16">Truyện Tham Khảo</option>
			               			 <option value="19"> Từ Điển</option>
									       
								</select>
							</td>
							
							<td style='width:150px'>
							<input type="submit" class="button blueB" value="Lọc" />
							<input type="reset" class="basic" value="Reset" onclick="window.location.href = 'index.php/admin/product.html'; ">
							</td>
							
						</tr>
					</tbody></table> -->
				</form>
			</td></tr></thead>
			
			<thead>
				<tr>
					<!--<td style="width:21px;"><img src="images/icon/tableArrows.png" /></td>-->
					<td style="width:60px;">Mã Số</td>
					<td>Mã Thẻ</td>
					<td>Họ Tên </td>
					<td>Email</td>
					<!--<td> Ngày Cấp</td>
					<td> Hạn SD</td>-->
					<td>Mã NV </td>
					<td style="width:120px;">Hành động</td>
				</tr>
			</thead>
			
 			<tfoot class="auto_check_pages">
				<tr>
					<td colspan="6">
						 
					</td>
				</tr>
			</tfoot>
			
			<tbody class="list_item">
			
			<% reader.forEach(function(reader){%>
			  <tr class='row_<%= reader.id %> '>
					<!--<td><input type="checkbox" name="id[]" value="<!--%= data.id %> " /></td>-->
					<td class="textC"><%= reader.id %></td>
					<td>	<%= reader.MaThe %> 	</td>
					<td class="textR">  <%= reader.HoTen %> </td>
					<td class="textR">  <%= reader.Email %> </td>
					<!--<td class="textR">  <!--%= reader.NgayCap %> </td>
					<td class="textR">  <!--%= reader.HanSD %> </td>-->
					<td class="textR">  <%= reader.MaNV %> </td>
					
					
					<td class="option textC">
											   						
						<!--a  href="view/<!--%= data.id  %>" target='_blank' class='tipS' title="Xem chi tiết sản phẩm">
								<img src="images/icon/view.png" />
						</a-->
						<a href="capnhat_reader/<%= reader.id  %>" title="Chỉnh sửa" class="tipS">
							<img src="images/icon/edit.png" />
						</a>
						
						<a href="delete_reader/<%= reader.id  %>" title="Xóa" class="tipS verify_action" >
						    <img src="images/icon/delete.png" />
						</a>
					</td>
				</tr>
			 <% }); %>
				
		        
		      </tbody>
			</table>
		
		</div>
						
						
	        		
			</fieldset>
		</form>
    </div>
	
		
		
</div>
	
	<!-- Footer -->
	<div class="container">
		<footer class="page-footer">			
			<div class="footer-copyright text-center py-3">© 2018 Copyright: Trường Đại học Bách Khoa Hà Nội
			</div>			
		</footer>
	</div>



</body>
</html>
