<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trang chủ</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/custom.css">
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/menu1.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="../css/css.css" media="screen" />
	<link rel="stylesheet" href="../css/dinhdang.css" type="text/css"/>
	
</head>

<body>
	<!-- Header -->
	<div>
		<header>
			<nav class="navbar navbar-inverse" role="navigation">
			  	<!-- Brand and toggle get grouped for better mobile display -->
			  	<div class="navbar-header">
			    	<a class="navbar-brand" href="#" style="color: orange;">H2ON</a>
			  	</div>

			  	<!-- Collect the nav links, forms, and other content for toggling -->
			  	<div class="collapse navbar-collapse">
			    	<form class="navbar-form navbar-left" role="search">
			      		<div class="form-group">
			        		<input type="text" class="form-control" placeholder="Tìm kiếm tại đây...">
			      		</div> 
			      		<div class="form-group">
			      			<select id="theLoai" class="form-control">
				    			<option disabled selected hidden>Tìm kiếm theo thể loại</option>
				    			<option>...</option>
				  			</select>
			      		</div>
			      		<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
			   		</form>
			    	<div class="nav navbar-nav navbar-right">
			    		<form class="navbar-form navbar-right" role="logout">
				      		<!--<div class="form-group">
				        		<input type="text" class="form-control" style="width: 160px;" placeholder="username">
				      		</div>
				      		<div class="form-group">
				        		<input type="password" class="form-control" style="width: 160px;"  placeholder="password">
				      		</div>
							
				      		<button type="submit" class="btn btn-warning">Đăng nhập</button>-->
							 Xin chào <a href="#" style="margin-right:100px"> Nguyễn Văn A     </a>
							<a href="#"> Đăng xuất </a>
			    		</form>
			    	</div>
			  	</div> 
			</nav>
			
			<!--menu-->
			<div id="menu">
				<ul>
					<li class=" col-sm-2"><a href="#">Trang chủ</a></li>
					<li class=" col-sm-2"><a href="#" >Quản Lí kho sách</a>
					   <ul>
							<li width="300px";"><a href="#">Danh sách tài Liệu</a></li>
							<li><a href="#">Nhà cung cấp </a></li>
							
						</ul>
					</li>
					<li class=" col-sm-3"><a href="#" >Quản lí độc giả</a>
						
					</li>
					<li class=" col-sm-3"><a href="#">Quản lí nhân viên</a>
						
					</li>
					<li class=" col-sm-2"><a href="#">Quản lí mượn trả</a>
						<ul>
							<li><a href="#">Quản lí mượn sách</a></li>
							<li><a href="#">Quản lí trả sách</a></li>
							
						</ul>
					</li>
					
					
				</ul>
			</div>
				<!--endmenu-->
				
			
			
		</header>
	</div>
	

	<!-- Ảnh chạy -->
	<div class="container">
		<div id="chayAnh" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#chayAnh" data-slide-to="0" class="active"></li>
				<li data-target="#chayAnh" data-slide-to="1"></li>
				<li data-target="#chayAnh" data-slide-to="2"></li>
			</ol>	

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="../images/anh2.jpeg" alt="Thuvien1" width="1500" height="300">
				</div>

				<div class="item">
					<img src="../images/anh2.jpeg" alt="Thuvien2" width="1500" height="300">
				</div>

				<div class="item">
					<img src="../images/anh2.jpeg" alt="Thuvien3" width="1500" height="300">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#chayAnh" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#chayAnh" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<!-- Main -->
	<div class="container">
	<div class="wrapper">
	   <div class="line"></div>
		<fieldset>
				<div class="widget">
				    <div class="title">
						<img src="images/icons/dark/add.png" class="titleIcon" />
						<h6>Xem Thông Tin Chi Tiết của Sách</h6>
					</div>
					
			<form class="form" action="http://localhost:3000/detail/<%= dulieu[0].TaiLieuid%>" method="post" >
		    
			<div class="tab_container">
			
	
		<div id='tab1' class="tab_content pd0">
		
		 <div class="formRow">
			<label class="formLeft" for="param_name">MaVach:<span class="req">*</span></label>
			<div class="formRight">
				<span class="oneTwo"><input name="tentailieu" id="param_TenTL" _autocheck="true" type="text"  value="<%= dulieu[0].MaVach%>"/></span>
				<span name="TenTL_autocheck" class="autocheck"></span>
				<div name="TenTL_error" class="clear error"></div>
		    </div>
		    <div class="clear"></div>
        </div>
		
	<!---<div class="formRow">
			<label class="formLeft" for="param_TenTheLoai">TaiLieuID:<span class="req">*</span></label>
			<div class="formRight">
				<span class="oneTwo"><input name="tentheloai" id="param_TenTheLoai" _autocheck="true" type="text" value="<%= dulieu[0].TaiLieuID%>"/></span>
				<span name="TenTheLoai_autocheck" class="autocheck"></span>
				<div name="TenTheLoai_error" class="clear error"></div>
		    </div>
		    <div class="clear"></div>
        </div>
		--->
		<div class="formRow">
			<label class="formLeft" for="param_name">NgayCN:<span class="req">*</span></label>
			<div class="formRight">
				<span class="oneTwo"><input name="tentg" id="param_TenTG" _autocheck="true" type="text" value="<%= dulieu[0].NgayCN%>"/></span>
				<span name="TenTG_autocheck" class="autocheck"></span>
				<div name="TenTG_error" class="clear error"></div>
		    </div>
		    <div class="clear"></div>
        </div>
		
		<div class="formRow">
			<label class="formLeft" for="param_name">MaNV:<span class="req">*</span></label>
			<div class="formRight">
				<span class="oneTwo"><input name="tennxb" id="param_TenNXB" _autocheck="true" type="text" value="<%= dulieu[0].MaNV%>" /></span>
				<span name="TenNXB_autocheck" class="autocheck"></span>
				<div name="TenNXB_error" class="clear error"></div>
		    </div>
		    <div class="clear"></div>
        </div>
		
		<div class="formRow">
			<label class="formLeft" for="param_name">TinhTrang:<span class="req">*</span></label>
			<div class="formRight">
				<span class="oneTwo"><input name="namxb" id="param_NamXB" _autocheck="true" type="text" value="<%= dulieu[0].TinhTrang%>"/></span>
				<span name="NamXB_autocheck" class="autocheck"></span>
				<div name="NamXB_error" class="clear error"></div>
		    </div>
		    <div class="clear"></div>
        </div>
						 
	        		</div><!-- End tab_container-->
					<div class="formSubmit">
	           			<a href="/list" style="text-align:left">
					<img src="images/icon/add.png" />
					<span>Quay Lại</span>
			</a>
	           			
	           		</div>
	        		<div class="clear"></div>
					</form>
				</div>
			</fieldset>
		<!--/form-->
    </div>
	
		
</div>
	
	<!-- Footer -->
	<div class="container">
		<footer class="page-footer">			
			<div class="footer-copyright text-center py-3">© 2018 Copyright: Trường Đại học Bách Khoa Hà Nội
			</div>			
		</footer>
	</div>



</body>
</html>
