<!DOCTYPE html>
<html>
<head>
	<title>Quản lí tài liệu</title>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body style="margin-right: 0 !important; overflow-y: auto;">	
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<div class="row">
				<div class="form-group">
					<div class="col-sm-3">
						<a href="/danhSachTaiLieu">
							<h4 style="color: red;"><b>Danh sách tài liệu</b></h4>
						</a>
					</div> 
				</div> 
				<form action="/danhSachTaiLieu" method="get">
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-2">
							<input type="text" class="form-control" placeholder="Tìm kiếm tại đây..." name="noi_dung_tim_kiem">
						</div>
						<div class="col-sm-1">
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div> 
						</div>  
					</div>					
				</form>
				<div class="col-sm-2" style="float: right;">
					<button type="button" class="btn btn-primary" style="text-align: right;" onclick="openModal();">Thêm tài liệu</button>
					<!-- Modal -->
				 	<div class="modal fade" id="addModal" role="dialog">
				    	<div class="modal-dialog modal-lg">
				    
				      	<!-- Noi dung cua modal -->
				      	<div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal" >&times;</button>
					          <h4 class="modal-title">Thông tin tài liệu</h4>
					        </div>

					        <!-- Thong tin cua tai lieu -->
					        <div class="modal-body">  
								<div class="form-group-inline">
			           				<label>Tên tài liệu: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required="" id="TenTL">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label>Tên thể loại: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required id="TenTheLoai" id="ttl">
			           				</div>
			           			</div>  

			           			<div class="form-group-inline">
			           				<label>Tên tác giả: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required="" id="TenTG">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label>Giá Bìa: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="GiaBia">
			           				</div>
			           			</div>   
				       		</div>
				      		<div class="modal-footer">  
					        	<button type="button" id="taomoi" class="btn btn-primary" style="width: 90px;" onclick="themTL();">Tạo mới</button>
					        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="huy">Hủy</button> 
					        </div> 
				 		</div>
				 	</div> 
				</div>
				<!-- Ket thuc modal -->
			</div>
			<br><br>
			<hr> 
			<div id="DSTL">
				<table class="table table-striped" id="table_dstl">
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã tài liệu</th>
							<th>Tên tài liệu</th>
							<th>Tên thể loại</th>
							<th>Tác giả</th>
							<th>Giá bìa</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody> 
						<%for (var i = 0, j=(currentPage - 1)*4; i < danhSachTaiLieu.length && j<(danhSachTaiLieu.length + 4 * currentPage); i++, j++){%>
							<tr>
								<td id="<%=danhSachTaiLieu[i].id%>"><%=j + 1%></td>
								<td id="id<%=danhSachTaiLieu[i].id%>"><%=danhSachTaiLieu[i].id%></td>
								<td id="TenTL<%=danhSachTaiLieu[i].id%>"><%=danhSachTaiLieu[i].TenTL%></td>
								<td id="TenTheLoai<%=danhSachTaiLieu[i].id%>"><%=danhSachTaiLieu[i].TenTheLoai%></td>
								<td id="TenTG<%=danhSachTaiLieu[i].id%>"><%=danhSachTaiLieu[i].TenTG%></td>
								<td id="GiaBia<%=danhSachTaiLieu[i].id%>"><%=danhSachTaiLieu[i].GiaBia%></td>
								<td>							
									<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTtailieu(<%=danhSachTaiLieu[i].id%>);" data-toggle="modal" data-target="#editModal">
									    <span class="glyphicon glyphicon-wrench"></span>
									</button>  
									<button type="submit" class="btn btn-default" name="delete" id="buttonDelete" data-toggle="modal" data-target="#deleteModal" onclick="layTTtailieu(<%=danhSachTaiLieu[i].id%>);">
									    <span class="glyphicon glyphicon-trash"></span>
									</button> 	 
								</td>						
							</tr>	 
						<%};%>
					</tbody>
				</table> 
			</div>
			<% var url = "/danhSachTaiLieu" + "?noi_dung_tim_kiem=" + noi_dung_tim_kiem;%> 
			<div class="container" align="right" id="phantrang">
				<hr class="mt-2 mb-5">	
				<%if (pageCount > 1) { %>
			        <ul class="pagination">
			            <% if (currentPage > 1) { %>
			                <li><a href=<%=url + "&page=1"%>>&laquo;</a></li>
			            <% }
			            var i = 1;
			            if (currentPage > 5) {
			                i = currentPage - 4;
			            } %>
			            <% if (i !== 1) { %>
			                <li class="disabled"><a href="#">...</a></li>
			            <% } %>
			            <% for (i; i<=pageCount; i++) { %>
			                <% if (currentPage == i) { %>
			                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
			                <% } else { %> 
			                    <li><a href=<%=url+"&page="+ i %>><%= i %></a></li>
			                <% } %>
			                <% if (i == (currentPage + 4)) { %>
			                    <li class="disabled"><a href="#">...</a></li>
			                <% break; } %>
			            <% } %>
			            <% if (currentPage != pageCount) { %>
			                <li><a href=<%=url+"&page="+ pageCount %>>&raquo;</a></li>
			            <% } %>
			        </ul>
			    <% } %>	
			</div>
			<!-- Modal Sua -->
		 	<div class="modal fade" id="editModal" role="dialog">
		    	<div class="modal-dialog modal-lg">
		    
			      	<!-- Noi dung cua modal -->
			      	<div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Thông tin tài liệu</h4>
				        </div>

				        <!-- Thong tin cua tai lieu -->
				        <div class="modal-body">  
			        		<div class="form-group-inline">
			       				<label for="ma-tai-lieu">Mã tài liệu: </label>
			       				<div class="input-group">
			       					<span class="input-group-addon">
										<i class=""></i> 
									</span>
									<input type="text" class="form-control" required="" id="MaTL" disabled="">
			       				</div>
		           			<div class="form-group-inline">
			           				<label>Tên tài liệu: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required="" id="TenTL_Edit">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label>Tên Thể loại: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required id="TenTheLoai_Edit">
			           				</div>
			           			</div>  

			           			<div class="form-group-inline">
			           				<label>Tên tác giả: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class=""></i> 
										</span>
										<input type="text" class="form-control" required="" id="TenTG_Edit">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label>Giá Bìa: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="GiaBia_Edit">
			           				</div>
			           			</div>    
				 		</div>
				 		<div class="modal-footer">  
				        	<button type="button" id="luu" class="btn btn-primary" style="width: 90px;" onclick="suaTL();">Lưu</button>
				        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Edit">Close</button> 
				        </div>
		 			</div> 
				</div>
			</div>	 
			<!-- Ket thuc Modal Sua -->
			<!-- Modal Xoa -->
		 	<div class="modal fade" id="deleteModal" role="dialog">
		    	<div class="modal-dialog modal-lg">
		    
			      	<!-- Noi dung cua modal -->
			      	<div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Xóa tài liệu</h4>
				        </div>

				        <!-- Thong tin cua tai lieu -->
				        <div class="modal-body">  
			        	   <p>Bạn có chắc chắn muốn xóa không?</p>
			 			</div>
				 		<div class="modal-footer">  
				        	<button type="button" id="xoa" class="btn btn-primary" style="width: 90px;" onclick="xoaTL();">OK</button>
							<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Delete">Cancel</button> 
				        </div>
		 			</div> 
				</div>
			</div>	 
			<!-- Ket thuc Modal Xoa --> 
		</div> 
	</div>
	 
	<script type="text/javascript" language="javascript">  
		function openModal() {
			$('#addModal').modal(); 
			document.getElementById("TenTL").value = '';
			document.getElementById("TenTheLoai").value = '';
			document.getElementById("TenTG").value = '';
			document.getElementById("GiaBia").value = '';
		}
		function themTL() {     
			var valid = true; // Kiem tra thong tin trong form co hop le: true => hop l
	 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/themTaiLieu", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText != "0") { 
							// xu ly ajax
							dstl = document.getElementById("DSTL"); 
							ketqua = JSON.parse(xmlhttp.responseText); // ket qua do server gui ve co dang JSON 
							danhsachtailieu = ketqua.danhsachtailieu;
							pageCount = ketqua.pageCount;

							// Xu ly bang hien thi danh sach tai lieu
							hienthi = '<table class="table table-striped" id="table_dstl">';
								hienthi += '<thead>';
									hienthi += '<tr>';
										hienthi += '<th>STT</th>'; 
										hienthi += '<th>Mã tài liệu</th>'; 
										hienthi += '<th>Tên tài liệu</th>'; 
										hienthi += '<th>Tên Thể loại</th>'; 
										hienthi += '<th>Tên tác giả</th>';
										hienthi += '<th>Giá bìa</th>'; 
										hienthi += '<th>Hành động</th>'; 
									hienthi += '</tr>';
								hienthi += '</thead>';
								hienthi += '<body>';
								for (var i = 0, j=(pageCount - 1)*4; i < danhsachtailieu.length && j<(danhsachtailieu.length + 4 * pageCount); i++, j++)
								{
									hienthi += '<tr>';
										hienthi += '<td id = ' + danhsachtailieu[i].id + '>' + (j + 1) + '</td>';
										hienthi +=  '<td id = id' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].id + '</td>';
										hienthi += '<td id = TenTL' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTL + '</td>';
										hienthi += '<td id = TenTheLoai' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTheLoai + '</td>';
										hienthi += '<td id = TenTG' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTG + '</td>';
										hienthi += '<td id = GiaBia' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].GiaBia + '</td>';
 
										hienthi += 
										'<td>' +							
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTtailieu(' + danhsachtailieu[i].id + ');' + '"' + ' data-toggle="modal" data-target="#editModal">' +
									    		'<span class="glyphicon glyphicon-wrench"></span>' + 
											'</button>' +  
											'<button type="submit" class="btn btn-default" name="edit" id="buttonDelete" onclick="layTTtailieu(' + danhsachtailieu[i].id + ');' + '"' + ' data-toggle="modal" data-target="#deleteModal">' +
									    		'<span class="glyphicon glyphicon-trash"></span>' + 
											'</button>' + 											
										'</td>';				
									hienthi += '</tr>';
								}
								hienthi +='</body>';
							hienthi += '</table>'; 

							// Thay doi url den trang cuoi cung
							var url = "/danhSachTaiLieu" + "?noi_dung_tim_kiem=&page=" + pageCount; 
					  		
					  		// Xu ly phan trang
				    		phantrang = document.getElementById('phantrang');
				    		hienthi_phantrang = '<hr class="mt-2 mb-5">';
				    		hienthi_phantrang += '<ul class="pagination">';
				    		hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page=1"+ '">' + '&laquo;</a></li>';
				    		 
				    		if (pageCount > 5)  { 
				    			var amount = 0;
				    			hienthi_phantrang += '<li><a disabled>...</a></li>';
				    			for(var i = pageCount - 4; i >= 0 && i < pageCount; i++) {
				    			amount += 1;
				    			if (i > 0) hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>';  
				    			}   
				    		} 
				    		else {
				    			for(var i = 1; i < pageCount; i++) { 
				    				hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>'; 
				    			}
				    		}
				    		hienthi_phantrang += '<li class="active"><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ pageCount + '">' + pageCount + '</a></li>'; 
				            hienthi_phantrang += '</ul>';

							// Tao html trong the co id = "menu"
							dstl.innerHTML = hienthi; 
							// Tao html trong the co phantrang = "menu"
							phantrang.innerHTML = hienthi_phantrang; 

							// Thay doi gia tri url 
							history.pushState(null, '', url); 

							document.getElementById("huy").click(); // dong modal popup
						}
						else {
							alert("Error!");
						}
					}

				}
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinTL = JSON.stringify({"TenTL": document.getElementById("TenTL").value, "TenTheLoai": document.getElementById("TenTheLoai").value, "TenTG": document.getElementById("TenTG").value, "GiaBia": document.getElementById("GiaBia").value});

				xmlhttp.send(thongTinTL); 
			}
		}

		var id, sothutu;
		function layTTtailieu(id) {
			this.id = id;  
			document.getElementById("id").value = document.getElementById("id" + id).innerHTML ;
			document.getElementById("TenTL_Edit").value = document.getElementById("TenTL" + id).innerHTML;
			document.getElementById("TenTheLoai_Edit").value = document.getElementById("TenTheLoai" + id).innerHTML;
			document.getElementById("TenTG_Edit").value = document.getElementById("TenTG" + id).innerHTML;
			document.getElementById("GiaBia_Edit").value = document.getElementById("GiaBia" + id).innerHTML;     
			this.sothutu = document.getElementById(id).innerHTML; 
		}

		function suaTL() {  
			var valid = true; 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/suaTaiLieu", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText != "0") { 
							// xu ly ajax => thay doi thong tin nhan vien tren dong tuong ung trong bang hien thi
							thongtintailieudasua = JSON.parse(xmlhttp.responseText); 
							thongtintailieudasua = thongtintailieudasua[0];
							id =thongtintailieudasua.id; 
							document.getElementById(id).innerHTML = thongtintailieudasua.id;
							document.getElementById("id" + id).innerHTML = thongtintailieudasua.id;
							document.getElementById("TenTL" + id).innerHTML = thongtintailieudasua.TenTL;
							document.getElementById("TenTheLoai" + id).innerHTML = thongtintailieudasua.TenTheLoai;
							document.getElementById("TenTG" + id).innerHTML = thongtintailieudasua.TenTG;
							document.getElementById("GiaBia" + id).innerHTML = thongtintailieudasua.GiaBia; 
							document.getElementById("close_Edit").click(); // dong modal popup
						}
						else {
							alert("Error!");
						}
					}

				} 
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinTL = JSON.stringify({"id": this.id, "TenTL": document.getElementById("TenTL_Edit").value, "TenTheLoai": document.getElementById("TenTheLoai_Edit").value, "TenTG": document.getElementById("TenTG_Edit").value, "GiaBia": document.getElementById("GiaBia_Edit").value});

				xmlhttp.send(thongTinTL); 
			}
		} 
		function xoaTL() {
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/xoaTaiLieu", false); 
			// Lay trang hien tai (tren url)
			var currentPage = location.search.split('page=')[1];
			if (currentPage === undefined) currentPage = 1; 

			// Lay tong so hang cua bang 
			var totalRowCount = $("#table_dstl tr").length - 1; 
			if (totalRowCount == 1) currentPage = 1;

			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
					if (xmlhttp.responseText != "0") {   
						// xu ly ajax
						dstl = document.getElementById("DSTL"); 
						ketqua = JSON.parse(xmlhttp.responseText); // ket qua do server gui ve co dang JSON 
						danhsachtailieu = ketqua.danhsachtailieu;  // Danh sach tai lieu hien thi tren bang
						pageCount = ketqua.pageCount; // Tong so trang hien thi  
						if (currentPage == 1 && pageCount > 1) {  // Tro ve trang dau tien => Hien thi lai phan trang tu 1 den 5
							var url = "/danhSachTaiLieu" + "?noi_dung_tim_kiem=&page=" + 1;

							// Thay doi gia tri url 
							history.pushState(null, '', url);  

							// Xu ly phan trang
							phantrang = document.getElementById('phantrang');
				    		hienthi_phantrang = '<hr class="mt-2 mb-5">';
				    		hienthi_phantrang += '<ul class="pagination">';
				    		hienthi_phantrang += '<li class="active"><a href=" ' + url + "&page="+ 1 + '">' + 1 + '</a></li>'; 
				    		for(var i = 2; i <= 5 && i <= pageCount; i++) { 
				    			hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>';  
				    		}   
				    		if (pageCount > 5) hienthi_phantrang += '<li><a disabled>...</a></li>';
				    		hienthi_phantrang += '<li><a href=" ' + url + "&page="+ pageCount + '">' + '&raquo;</a></li>'; 
				            hienthi_phantrang += '</ul>';

				            phantrang.innerHTML = hienthi_phantrang;
						} 
						else if (pageCount == 1){
							// Thay doi gia tri url 
							history.pushState(null, '', "/danhSachTaiLieu"); 
							phantrang.innerHTML = '';
						}
						else {   
							hienthi_phantrang = '<hr class="mt-2 mb-5">';
				    		hienthi_phantrang += '<ul class="pagination">';
				    		hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page=1"+ '">' + '&laquo;</a></li>';
							if (currentPage > 5) { 
								hienthi_phantrang += '<li><a disabled>...</a></li>'; 
				    		}  
				    		for(var i = parseInt(currentPage) - 4; i < parseInt(currentPage) - 1 ; i++) { 
				    			hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ (i + 1) + '">' + (i + 1) + '</a></li>'; 
							}
							hienthi_phantrang += '<li class="active"><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ currentPage + '">' + currentPage + '</a></li>'; 
							 
							if (parseInt(parseInt(pageCount) - parseInt(currentPage)) >= 0) {
								var j = 1;
								for(var i = parseInt(currentPage) + 1; j <= 4 && i <= parseInt(pageCount); i++) { 
									j++;
				    				hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>';   
				    			}
				    			if (parseInt(parseInt(pageCount) - parseInt(currentPage)) > 4) {
									hienthi_phantrang += '<li><a disabled>...</a></li>';
								 
								}  
								hienthi_phantrang += '<li><a href=" ' + "/danhSachTaiLieu?noi_dung_tim_kiem=" + "&page="+ pageCount + '">' + '&raquo;</a></li>';
				    		}    
							else {
								var url = "/danhSachTaiLieu" + "?noi_dung_tim_kiem=&page=" + pageCount;
								currentPage = pageCount;
								// Thay doi gia tri url 
								history.pushState(null, '', url);  
							}
							phantrang.innerHTML = hienthi_phantrang;
						}
						hienthi = '<table class="table table-striped" id="table_dstl">';
								hienthi += '<thead>';
									hienthi += '<tr>';
										hienthi += '<th>STT</th>'; 
										hienthi += '<th>Mã tài liệu</th>'; 
										hienthi += '<th>Tên tài liệu</th>'; 
										hienthi += '<th>Tên Thể loại</th>'; 
										hienthi += '<th>Tên tác giả</th>';
										hienthi += '<th>Giá bìa</th>'; 
										hienthi += '<th>Hành động</th>'; 
									hienthi += '</tr>';
								hienthi += '</thead>';
								hienthi += '<body>';
								for (var i = 0, j=(pageCount - 1)*4; i < danhsachtailieu.length && j<(danhsachtailieu.length + 4 * pageCount); i++, j++)
								{
									hienthi += '<tr>';
										hienthi += '<td id = ' + danhsachtailieu[i].id + '>' + (j + 1) + '</td>';
										hienthi +=  '<td id = id' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].id + '</td>';
										hienthi += '<td id = TenTL' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTL + '</td>';
										hienthi += '<td id = TenTheLoai' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTheLoai + '</td>';
										hienthi += '<td id = TenTG' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].TenTG + '</td>';
										hienthi += '<td id = GiaBia' + danhsachtailieu[i].id + '>' + danhsachtailieu[i].GiaBia + '</td>';
 
										hienthi += 
										'<td>' +							
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTtailieu(' + danhsachtailieu[i].id + ');' + '"' + ' data-toggle="modal" data-target="#editModal">' +
									    		'<span class="glyphicon glyphicon-wrench"></span>' + 
											'</button>' +  
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTtailieu(' + danhsachtailieu[i].id + ');' + '"' + ' data-toggle="modal" data-target="#deleteModal">' +
									    		'<span class="glyphicon glyphicon-trash"></span>' + 
											'</button>' + 											
										'</td>';				
									hienthi += '</tr>';
								}
								hienthi +='</body>';
							hienthi += '</table>'; 
						// Tao html trong the co id = "menu"
						dstl.innerHTML = hienthi;  
						// Dong modal xoa tai lieu
						document.getElementById('close_Delete').click();
					}
					else {
						alert("Error!");
					}
				}

			}
			xmlhttp.setRequestHeader('Content-type', 'application/json');
			var thongTinTL = JSON.stringify({"id": this.id, "currentPage": currentPage}); 
			xmlhttp.send(thongTinTL);  
		}
	</script>
</body>
</html>