<!DOCTYPE html>
<html lang="en">
<head>
	<title>Thông tin tài liệu</title>
	<% include ../partials/head %>
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body>
	<!-- Header -->
	<% include ../partials/header %>
	<!-- Main -->
	<div class="container" id="part1" style="min-height: 85%">
		<div id="anh">
			<img src="../images/<%=information[0].Anh %>">
		</div>
		<div id="thongtin">
			<p id="tentailieu"><%=information[0].TenTL%></p>			
			<p style="font-size: 16px"><b>THÔNG TIN CHI TIẾT</b></p>
			<table class="table">
				<tbody>
					<tr>
						<th>Tên tác giả</th>
						<td><%=information[0].TenTG %></td>
					</tr>
					<tr>
						<th>Tên nhà xuất bản</th>
						<td><%=information[0].TenNXB %></td>
					</tr>
					<tr>
						<th>Số trang</th>
						<td><%=information[0].SoTrang %></td>
					</tr>
					<tr>
						<th>Khổ giấy</th>
						<td><%=information[0].KhoGiay %></td>
					</tr>
					<tr>
						<th>Lần tái bản</th>
						<td><%=information[0].LanTB %></td>
					</tr>
					<tr>
						<th>Nội dung</th>
						<td><%=information[0].NoiDung %></td>
					</tr>
					<tr>
						<th>Giá bìa</th>
						<td><%=information[0].GiaBia %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> 
	<!-- Footer -->
	<% include ../partials/footer %> 
</body>
</html>