<!DOCTYPE html>
<html>
<head>
	<title>Quản lí độc giả</title>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body style="margin-right: 0 !important; overflow-y: auto;">	
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<div class="row">
				<div class="form-group">
					<div class="col-sm-3">
						<a href="/danhSachDocGia">
							<h4 style="color: red;"><b>Danh sách độc giả</b></h4>
						</a>
					</div> 
				</div> 
				<form action="/danhSachDocGia" method="get">
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-2">
							<input type="text" class="form-control" placeholder="Tìm kiếm tại đây..." name="noi_dung_tim_kiem">
						</div>
						<div class="col-sm-1">
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div> 
						</div>  
					</div>					
				</form>
				<div class="col-sm-2" style="float: right;">
					<button type="button" class="btn btn-primary" style="text-align: right;" data-toggle="modal" data-target="#myModal">Thêm độc giả</button>
					<!-- Modal -->
				 	<div class="modal fade" id="myModal" role="dialog">
				    	<div class="modal-dialog modal-lg">
				    
				      	<!-- Noi dung cua modal -->
				      	<div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Thông tin độc giả</h4>
					        </div>

					        <!-- Thong tin cua doc gia -->
					        <div class="modal-body">  
								<div class="form-group-inline">
			           				<label for="ma-the">Tên độc giả: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i> 
										</span>
										<input type="text" class="form-control" required="" id="HoTen" name="HoTen">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label for="ma-the">Số điện thoại: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-phone"></i> 
										</span>
										<input type="text" class="form-control" required id="SoDienThoai" id="sdt" name="SoDienThoai">
			           				</div>
			           			</div>  

			           			<div class="form-group-inline">
			           				<label for="ma-the">Địa chỉ: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-home"></i> 
										</span>
										<input type="text" class="form-control" required="" id="DiaChi" name="DiaChi">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label for="ma-the">Email: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-edgelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="Email" name="Email">
			           				</div>
			           			</div> 

									<div class="form-group-inline">
			           				<label for="ma-the">MaNV: </label>
			           				<div class="input-group"> 
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-edgelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="MaNV" name="MaNV">
			           				</div>
			           			</div>  
								
								
								<div class="form-group-inline">
			           				<label for="ma-the">NgayCap: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-edgelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="NgayCap" name="NgayCap">
			           				</div>
			           			</div>  
								<div class="form-group-inline">
			           				<label for="ma-the">HanSD: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-edgelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="HanSD" name="HanSD">
			           				</div>
			           			</div>  
								<div class="form-group-inline">
			           				<label for="ma-the">NgayCN: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-edgelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="NgayCN" name="NgayCN">
			           				</div>
			           			</div>  
								
				       		</div>
				      		<div class="modal-footer">  
					        	<button type="button" id="taomoi" class="btn btn-primary" style="width: 90px;" onclick="themDG();">Tạo mới</button>
					        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close">Close</button> 
					        </div>  
				 		</div>
				 	</div>
				 	<!-- Ket thuc modal -->
				</div>
			</div>
			<br><br>
			<hr> 
			<div id="DSDG">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã Thẻ</th>
							<th>Họ tên</th>
							<th>Địa chỉ</th>
							<th>Email</th>
							<th>Số điện thoại</th>
							<th> Mã NV </th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody> 
						<%for (var i=0; i<danhSachDocGia.length; i++){%>
							<tr>
								<td><%=i+1%></td>
								<td><%=danhSachDocGia[i].MaThe%></td>
								<td><%=danhSachDocGia[i].HoTen%></td>
								<td><%=danhSachDocGia[i].DiaChi%></td>
								<td><%=danhSachDocGia[i].Email%></td>
								<td><%=danhSachDocGia[i].SoDienThoai%></td>
								<td><%=danhSachDocGia[i].MaNV%></td>
								<td>							
									<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTDocGia(<%=danhSachDocGia[i].id%>, '<%=danhSachDocGia[i].MaThe%>', '<%=danhSachDocGia[i].HoTen%>', '<%=danhSachDocGia[i].DiaChi%>', '<%=danhSachDocGia[i].Email%>', '<%=danhSachDocGia[i].SoDienThoai%>', '<%=danhSachDocGia[i].MaDG%>', '<%=danhSachDocGia[i].NgayCap%>', '<%=danhSachDocGia[i].HanSD%>', '<%=danhSachDocGia[i].NgayCN%>');" data-toggle="modal" data-target="#editModal">
									    <span class="glyphicon glyphicon-wrench"></span>
									</button>  
									<button type="submit" class="btn btn-default" name="delete" id="buttonDelete" data-toggle="modal" data-target="#deleteModal">
									    <span class="glyphicon glyphicon-trash"></span>
									</button>			
									<!-- Modal -->
								 	<div class="modal fade" id="deleteModal" role="dialog">
								    	<div class="modal-dialog modal-lg">
								    
								      	<!-- Noi dung cua modal -->
								      	<div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <h4 class="modal-title">Xoá đôc giả</h4>
									        </div>

									        <!-- Thong tin cua doc gia -->
									        <div class="modal-body">  
								        		<p>Bạn có chắc chắn muốn xóa không?</p>
									       	</div>
								      		<div class="modal-footer">  
									        	<button type="button" id="xoa" class="btn btn-primary" style="width: 90px;" onclick="xoaDG();">OK</button>
									        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Delete">Cancel</button> 
									        </div>  
								 		</div>
								 	</div>
								 	<!-- Ket thuc Modal -->										
								</td>						
							</tr>	 
						<%};%>
					</tbody>
				</table>
				<% var url = "/danhSachDocGia" + "?noi_dung_tim_kiem=" + noi_dung_tim_kiem;%> 
				<div class="container" align="right">
					<hr class="mt-2 mb-5">	
					<%if (pageCount > 1) { %>
				        <ul class="pagination">
				            <% if (currentPage > 1) { %>
				                <li><a href=<%=url + "&page=1"%>>&laquo;</a></li>
				            <% }
				            var i = 1;
				            if (currentPage > 5) {
				                i = currentPage - 4;
				            } %>
				            <% if (i !== 1) { %>
				                <li class="disabled"><a href="#">...</a></li>
				            <% } %>
				            <% for (i; i<=pageCount; i++) { %>
				                <% if (currentPage == i) { %>
				                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
				                <% } else { %> 
				                    <li><a href=<%=url+"&page="+ i %>><%= i %></a></li>
				                <% } %>
				                <% if (i == (currentPage + 4)) { %>
				                    <li class="disabled"><a href="#">...</a></li>
				                <% break; } %>
				            <% } %>
				            <% if (currentPage != pageCount) { %>
				                <li><a href=<%=url+"&page="+ pageCount %>>&raquo;</a></li>
				            <% } %>
				        </ul>
				    <% } %>	
			</div>
			<!-- Modal -->
		 	<div class="modal fade" id="editModal" role="dialog">
		    	<div class="modal-dialog modal-lg">
		    
		      	<!-- Noi dung cua modal -->
		      	<div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Thông tin độc giả</h4>
			        </div>

			        <!-- Thong tin cua doc gia -->
			        <div class="modal-body">  
		        		<div class="form-group-inline">
		       				<label for="ma-the">Mã Thẻ: </label>
		       				<div class="input-group">
		       					<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i> 
								</span>
								<input type="text" class="form-control" required="" id="MaThe" disabled="">
		       				</div>
	           			</div>   
						<div class="form-group-inline">
	           				<label for="ma-the">Tên độc giả: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i> 
								</span>
								<input type="text" class="form-control" required="" id="HoTen_Edit">
	           				</div>
	           			</div>   

	           			<div class="form-group-inline">
	           				<label for="ma-the">Số điện thoại: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-phone"></i> 
								</span>
								<input type="text" class="form-control" required id="SoDienThoai_Edit" id="sdt">
	           				</div>
	           			</div>  

	           			<div class="form-group-inline">
	           				<label for="ma-the">Địa chỉ: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-home"></i> 
								</span>
								<input type="text" class="form-control" required="" id="DiaChi_Edit">
	           				</div>
	           			</div>   

	           			<div class="form-group-inline">
	           				<label for="ma-the">Email: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-edgelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="Email_Edit">
	           				</div>
	           			</div>
						
						<div class="form-group-inline">
	           				<label for="ma-the">NgayCap: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-edgelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="NgayCap_Edit">
	           				</div>
	           			</div>   
						
                        <div class="form-group-inline">
	           				<label for="ma-the">HanSD: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-edgelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="HanSD_Edit">
	           				</div>
	           			</div> 
						
                       <div class="form-group-inline">
	           				<label for="ma-the">MaNV: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-edgelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="MaNV_Edit">
	           				</div>
	           			</div>   
                       <div class="form-group-inline">
	           				<label for="ma-the">NgayCN: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-edgelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="NgayCN_Edit">
	           				</div>
	           			</div>     						
						
			       	</div>
		      		<div class="modal-footer">  
			        	<button type="button" id="luu" class="btn btn-primary" style="width: 90px;" onclick="suaDG();">Lưu</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Edit">Close</button> 
			        </div>  
		 		</div>
		 	</div>
		 	<!-- Ket thuc Modal -->	
		</div>	 
	</div>
	<script type="text/javascript" language="javascript">  
		function openModal() {
			$('#addModal').modal(); 
			document.getElementById("HoTen").value = '';
			document.getElementById("DiaChi").value = '';
			document.getElementById("Email").value = '';
			document.getElementById("SoDienThoai").value = '';
			document.getElementById("NgayCap").value = '';
			document.getElementById("HanSD").value = '';
			document.getElementById("MaNV").value = '';
			document.getElementById("NgayCN").value = '';
		}
		function themDG() {     
			var valid = true; // Kiem tra thong tin trong form co hop le: true => hop le

			// pattern kiem tra email va so dien thoai 
			var patternSDT = /^[0-9]{10,}$/;
			var patternEmail= /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
			var sdt = document.getElementById("SoDienThoai").value;
			var email = document.getElementById("Email").value; 

			if (!patternSDT.test(sdt, "gi")) {
				alert("Số điện thoại có ít nhất 10 số.");
				valid = false;
			}

			if (!patternEmail.test(email)) {
				alert("Email không đúng định dạng.");
				valid = false;
			}
	 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/themDocGia", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText != "0") { 
							// xu ly ajax
							dsdg = document.getElementById("DSDG"); 
							ketqua = JSON.parse(xmlhttp.responseText); // ket qua do server gui ve co dang JSON 
							danhsachdocgia = ketqua.danhsachdocgia;
							pageCount = ketqua.pageCount;

							// Xu ly bang hien thi danh sach doc gia
							hienthi = '<table class="table table-striped" id="table_dsdg">';
								hienthi += '<thead>';
									hienthi += '<tr>';
										hienthi += '<th>STT</th>'; 
										hienthi += '<th>Mã thẻ</th>'; 
										hienthi += '<th>Họ tên</th>'; 
										hienthi += '<th>Địa chỉ</th>'; 
										hienthi += '<th>Email</th>';
										hienthi += '<th>Số điện thoại</th>'; 
										//hienthi += '<th>Ngày cấp</th>';
									//	hienthi += '<th>Han SD</th>';
										hienthi += '<th>Ma NV</th>';
									//	hienthi += '<th> Ngày CN</th>';
										//hienthi += '<th>Hành động</th>'; 
									hienthi += '</tr>';
								hienthi += '</thead>';
								hienthi += '<body>';
								for (var i = 0, j=(pageCount - 1)*4; i < danhsachdocgia.length && j<(danhsachdocgia.length + 4 * pageCount); i++, j++)
								{
									hienthi += '<tr>';
										hienthi += '<td id = ' + danhsachdocgia[i].id + '>' + (j + 1) + '</td>';
										hienthi +=  '<td id = MaThe' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].MaThe + '</td>';
										hienthi += '<td id = HoTen' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].HoTen + '</td>';
										hienthi += '<td id = DiaChi' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].DiaChi + '</td>';
										hienthi += '<td id = Email' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].Email + '</td>';
										hienthi += '<td id = SoDienThoai' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].SoDienThoai + '</td>';
                                        //hienthi += '<td id = NgayCap' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].NgayCap + '</td>';
										//hienthi += '<td id = HanSD' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].HanSD + '</td>';
										hienthi += '<td id = MaNV' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].MaNV + '</td>';
										//hienthi += '<td id = NgayCN' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].NgayCN + '</td>';
 
										
										hienthi += 
										'<td>' +							
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTDocGia(' + danhsachdocgia[i].id + ');' + '"' + ' data-toggle="modal" data-target="#editModal">' +
									    		'<span class="glyphicon glyphicon-wrench"></span>' + 
											'</button>' +  
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTDocGia(' + danhsachdocgia[i].id + ');' + '"' + ' data-toggle="modal" data-target="#deleteModal">' +
									    		'<span class="glyphicon glyphicon-trash"></span>' + 
											'</button>' + 											
										'</td>';				
									hienthi += '</tr>';
								}
								hienthi +='</body>';
							hienthi += '</table>'; 
							var url = "/danhSachDocGia" + "?noi_dung_tim_kiem=&page=" + pageCount; 
					  		
					  		// Xu ly phan trang
				    		phantrang = document.getElementById('phantrang');
				    		hienthi_phantrang = '<hr class="mt-2 mb-5">';
				    		hienthi_phantrang += '<ul class="pagination">';
				    		hienthi_phantrang += '<li><a href=" ' + "/danhSachDocGia?noi_dung_tim_kiem=" + "&page=1"+ '">' + '&laquo;</a></li>';
				    		var amount = 0;
				    		if (pageCount > 5) hienthi_phantrang += '<li><a disabled>...</a></li>';
				    		 
				    		for(var i = pageCount - 4; i >= 0 && i < pageCount; i++) {
				    			amount += 1;
				    			if (i > 0) hienthi_phantrang += '<li><a href=" ' + url + "&page="+ i + '">' + i + '</a></li>';  
				    		}   
				    		hienthi_phantrang += '<li class="active"><a href=" ' + url + "&page="+ pageCount + '">' + pageCount + '</a></li>'; 
				            hienthi_phantrang += '</ul>';

							// Tao html trong the co id = "menu"
							dsdg.innerHTML = hienthi; 
							// Tao html trong the co phantrang = "menu"
							phantrang.innerHTML = hienthi_phantrang; 

							// Thay doi gia tri url 
							history.pushState(null, '', url); 

							document.getElementById("huy").click(); // dong modal popup
						}
						else {
							alert("Error!");
						}
					}

				}
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinDG = JSON.stringify({"HoTen": document.getElementById("HoTen").value, "SoDienThoai": document.getElementById("SoDienThoai").value, "DiaChi": document.getElementById("DiaChi").value, "Email": document.getElementById("Email").value, "NgayCap": document.getElementById("NgayCap").value, "HanSD": document.getElementById("HanSD").value, "MaNV": document.getElementById("MaNV").value, "NgayCN": document.getElementById("NgayCN").value});

				xmlhttp.send(thongTinDG); 
			}
		}

		var id, sothutu;
		function layTTDocGia(id) {
			this.id = id;  
			document.getElementById("MaThe").value = document.getElementById("MaThe" + id).innerHTML ;
			document.getElementById("HoTen_Edit").value = document.getElementById("HoTen" + id).innerHTML;
			document.getElementById("SoDienThoai_Edit").value = document.getElementById("SoDienThoai" + id).innerHTML;
			document.getElementById("DiaChi_Edit").value = document.getElementById("DiaChi" + id).innerHTML;
			document.getElementById("Email_Edit").value = document.getElementById("Email" + id).innerHTML;     
			document.getElementById("NgayCap_Edit").value = document.getElementById("NgayCap" + id).innerHTML;  
			document.getElementById("HanSD_Edit").value = document.getElementById("HanSD" + id).innerHTML;
			document.getElementById("MaNV_Edit").value = document.getElementById("MaNV" + id).innerHTML;
            document.getElementById("NgayCN_Edit").value = document.getElementById("NgayCN" + id).innerHTML;     			
			this.sothutu = document.getElementById(id).innerHTML; 
			
		}

		function suaDG() {  
			var valid = true;  
			// pattern kiem tra email va so dien thoai 
			var patternSDT = /^[0-9]{10,}$/;
			var patternEmail= /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
			var sdt = document.getElementById("SoDienThoai_Edit").value;
			var email = document.getElementById("Email_Edit").value; 

			if (!patternSDT.test(sdt, "gi")) {
				alert("Số điện thoại có ít nhất 10 số.");
				valid = false;
			}

			if (!patternEmail.test(email)) {
				alert("Email không đúng định dạng.");
				valid = false;
			}
	 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/suaDocGia", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText != "0") { 
							// xu ly ajax => thay doi thong tin doc gia tren dong tuong ung trong bang hien thi
							thongtinnhadgiendasua = JSON.parse(xmlhttp.responseText); 
							thongtinnhadgiendasua = thongtinnhadgiendasua[0];
							id = thongtinnhadgiendasua.id; 
							document.getElementById(id).innerHTML = thongtinnhadgiendasua.id;
							document.getElementById("MaThe" + id).innerHTML = thongtinnhadgiendasua.MaThe;
							document.getElementById("HoTen" + id).innerHTML = thongtinnhadgiendasua.HoTen;
							document.getElementById("SoDienThoai" + id).innerHTML = thongtinnhadgiendasua.SoDienThoai;
							document.getElementById("DiaChi" + id).innerHTML = thongtinnhadgiendasua.DiaChi;
							document.getElementById("Email" + id).innerHTML = thongtinnhadgiendasua.Email; 
							document.getElementById("NgayCap" + id).innerHTML = thongtinnhadgiendasua.NgayCap; 
							document.getElementById("HanSD" + id).innerHTML = thongtinnhadgiendasua.HanSD; 
							document.getElementById("MaNV" + id).innerHTML = thongtinnhadgiendasua.MaNV; 
							document.getElementById("NgayCN" + id).innerHTML = thongtinnhadgiendasua.NgayCN; 
							document.getElementById("close_Edit").click(); // dong modal popup
						}
						else {
							alert("Error!");
						}
					}

				} 
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinDG = JSON.stringify({"id": this.id, "HoTen": document.getElementById("HoTen_Edit").value, "SoDienThoai": document.getElementById("SoDienThoai_Edit").value, "DiaChi": document.getElementById("DiaChi_Edit").value, "Email": document.getElementById("Email_Edit").value, "NgayCap": document.getElementById("NgayCap_Edit").value, "HanSD": document.getElementById("HanSD_Edit").value, "MaNV": document.getElementById("MaNV_Edit").value, "NgayCN": document.getElementById("NgayCN_Edit").value});

				xmlhttp.send(thongTinDG); 
			}
		} 
		function xoaDG() {
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/xoaDocGia", false); 
			// Lay trang hien tai (tren url)
			var currentPage = location.search.split('page=')[1];
			console.log("currentPage: " + currentPage);

			// Lay tong so hang cua bang 
			var totalRowCount = $("#table_dsdg tr").length - 1; 
			if (totalRowCount == 1) currentPage = 1;

			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
					if (xmlhttp.responseText != "0") {   
						// xu ly ajax
						dsdg = document.getElementById("DSDG"); 
						ketqua = JSON.parse(xmlhttp.responseText); // ket qua do server gui ve co dang JSON 
						danhsachdocgia = ketqua.danhsachdocgia;  // Danh sach doc gia hien thi tren bang
						pageCount = ketqua.pageCount; // Tong so trang hien thi
						if (currentPage == 1) {  // Tro ve trang dau tien => Hien thi lai phan trang tu 1 den 5
							var url = "/danhSachDocGia" + "?noi_dung_tim_kiem=&page=" + 1;

							// Thay doi gia tri url 
							history.pushState(null, '', url);  

							// Xu ly phan trang
							phantrang = document.getElementById('phantrang');
				    		hienthi_phantrang = '<hr class="mt-2 mb-5">';
				    		hienthi_phantrang += '<ul class="pagination">';
				    		hienthi_phantrang += '<li class="active"><a href=" ' + url + "&page="+ 1 + '">' + 1 + '</a></li>'; 
				    		for(var i = 2; i <= 5 && i <= pageCount; i++) { 
				    			hienthi_phantrang += '<li><a href=" ' + "/danhSachDocGia?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>';  
				    		}   
				    		if (pageCount > 5) hienthi_phantrang += '<li><a disabled>...</a></li>';;
				    		hienthi_phantrang += '<li><a href=" ' + url + "&page="+ pageCount + '">' + '&raquo;</a></li>'; 
				            hienthi_phantrang += '</ul>';

				            phantrang.innerHTML = hienthi_phantrang;
						}

						// Xu ly bang hien thi danh sach doc gia
						hienthi = '<table class="table table-striped" id="table_dsdg">';
							hienthi += '<thead>';
								hienthi += '<tr>';
									hienthi += '<th>STT</th>'; 
									hienthi += '<th>Mã thẻ</th>'; 
									hienthi += '<th>Họ tên</th>'; 
									hienthi += '<th>Địa chỉ</th>'; 
									hienthi += '<th>Email</th>';
									hienthi += '<th>Số điện thoại</th>';
									//hienthi += '<th>Ngay Cap</th>';
									//hienthi += '<th>Hạn SD</th>';
									hienthi += '<th>Mã NV</th>';
									//hienthi += '<th>Ngày CN</th>';
									
									hienthi += '<th>Hành động</th>'; 
								hienthi += '</tr>';
							hienthi += '</thead>';
							hienthi += '<body>';
							for (var i = 0, j=(currentPage - 1)*4; i < danhsachdocgia.length && j<(danhsachdocgia.length + 4 * currentPage); i++, j++)
							{ 
								hienthi += '<tr>';
									hienthi += '<td id = ' + danhsachdocgia[i].id + '>' + (j + 1) + '</td>';
									hienthi +=  '<td id = MaDG' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].MaDG + '</td>';
									hienthi += '<td id = HoTen' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].HoTen + '</td>';
									hienthi += '<td id = DiaChi' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].DiaChi + '</td>';
									hienthi += '<td id = Email' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].Email + '</td>';
									hienthi += '<td id = SoDienThoai' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].SoDienThoai + '</td>';
								//	hienthi += '<td id = NgayCap' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].NgayCap + '</td>';
								//	hienthi += '<td id = HanSD' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].HanSD + '</td>';
									hienthi += '<td id = MaNV' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].MaNV + '</td>';
								//	hienthi += '<td id = NgayCN' + danhsachdocgia[i].id + '>' + danhsachdocgia[i].NgayCN + '</td>';
									hienthi += 
									'<td>' +							
										'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTDocGia(' + danhsachdocgia[i].id + ');' + '"' + ' data-toggle="modal" data-target="#editModal">' +
									    		'<span class="glyphicon glyphicon-wrench"></span>' + 
											'</button>' +  
										'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTDocGia(' + danhsachdocgia[i].id + ');' + '"' + ' data-toggle="modal" data-target="#deleteModal">' +
								    		'<span class="glyphicon glyphicon-trash"></span>' + 
										'</button>' + 	 
									'</td>';				
								hienthi += '</tr>';
							}
							hienthi +='</body>';
						hienthi += '</table>';  

						// Tao html trong the co id = "menu"
						dsdg.innerHTML = hienthi;  
						// Dong modal xoa doc gia
						document.getElementById('close_Delete').click();
					}
					else {
						alert("Error!");
					}
				}

			}
			xmlhttp.setRequestHeader('Content-type', 'application/json');
			var thongTinDG = JSON.stringify({"id": this.id, "currentPage": currentPage}); 
			xmlhttp.send(thongTinDG);  
		}
	</script>
</body>
</html>