<!DOCTYPE html>
<html>
<head>
	<title>Quản lí nhân viên</title>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body style="margin-right: 0 !important; overflow-y: auto;">	
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<div class="row">
				<div class="form-group">
					<div class="col-sm-3">
						<a href="/danhSachNhanVien">
							<h4 style="color: red;"><b>Danh sách nhân viên</b></h4>
						</a>
					</div> 
				</div> 
				<form action="/danhSachNhanVien" method="get">
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-2">
							<input type="text" class="form-control" placeholder="Tìm kiếm tại đây..." name="noi_dung_tim_kiem">
						</div>
						<div class="col-sm-1">
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div> 
						</div>  
					</div>					
				</form>
				<div class="col-sm-2" style="float: right;">
					<button type="button" class="btn btn-primary" style="text-align: right;" data-toggle="modal" data-target="#myModal">Thêm nhân viên</button>
					<!-- Modal -->
				 	<div class="modal fade" id="myModal" role="dialog">
				    	<div class="modal-dialog modal-lg">
				    
				      	<!-- Noi dung cua modal -->
				      	<div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Thông tin nhân viên</h4>
					        </div>

					        <!-- Thong tin cua nhan vien -->
					        <div class="modal-body">  
								<div class="form-group-inline">
			           				<label for="ma-nhan-vien">Tên nhân viên: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i> 
										</span>
										<input type="text" class="form-control" required="" id="HoTen">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label for="ma-nhan-vien">Số điện thoại: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-phone"></i> 
										</span>
										<input type="text" class="form-control" required id="SoDienThoai" id="sdt">
			           				</div>
			           			</div>  

			           			<div class="form-group-inline">
			           				<label for="ma-nhan-vien">Địa chỉ: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-home"></i> 
										</span>
										<input type="text" class="form-control" required="" id="DiaChi">
			           				</div>
			           			</div>   

			           			<div class="form-group-inline">
			           				<label for="ma-nhan-vien">Email: </label>
			           				<div class="input-group">
			           					<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i> 
										</span>
										<input type="text" class="form-control" required="" id="Email">
			           				</div>
			           			</div>   
				       		</div>
				      		<div class="modal-footer">  
					        	<button type="button" id="taomoi" class="btn btn-primary" style="width: 90px;" onclick="themNV();">Tạo mới</button>
					        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close">Close</button> 
					        </div>  
				 		</div>
				 	</div>
				 	<!-- Ket thuc modal -->
				</div>
			</div>
			<br><br>
			<hr> 
			<div id="DSNV">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>STT</th>
							<th>Mã nhân viên</th>
							<th>Họ tên</th>
							<th>Địa chỉ</th>
							<th>Email</th>
							<th>Số điện thoại</th>
							<th>Hành động</th>
						</tr>
					</thead>
					<tbody> 
						<%for (var i=0; i<danhSachNhanVien.length; i++){%>
							<tr>
								<td><%=i+1%></td>
								<td><%=danhSachNhanVien[i].MaNV%></td>
								<td><%=danhSachNhanVien[i].HoTen%></td>
								<td><%=danhSachNhanVien[i].DiaChi%></td>
								<td><%=danhSachNhanVien[i].Email%></td>
								<td><%=danhSachNhanVien[i].SoDienThoai%></td>
								<td>							
									<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTNhanVien(<%=danhSachNhanVien[i].id%>, '<%=danhSachNhanVien[i].MaNV%>', '<%=danhSachNhanVien[i].HoTen%>', '<%=danhSachNhanVien[i].DiaChi%>', '<%=danhSachNhanVien[i].Email%>', '<%=danhSachNhanVien[i].SoDienThoai%>');" data-toggle="modal" data-target="#editModal">
									    <span class="glyphicon glyphicon-wrench"></span>
									</button>  
									<button type="submit" class="btn btn-default" name="delete" id="buttonDelete" data-toggle="modal" data-target="#deleteModal">
									    <span class="glyphicon glyphicon-trash"></span>
									</button>			
									<!-- Modal -->
								 	<div class="modal fade" id="deleteModal" role="dialog">
								    	<div class="modal-dialog modal-lg">
								    
								      	<!-- Noi dung cua modal -->
								      	<div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <h4 class="modal-title">Xoá nhân viên</h4>
									        </div>

									        <!-- Thong tin cua nhan vien -->
									        <div class="modal-body">  
								        		<p>Bạn có chắc chắn muốn xóa không?</p>
									       	</div>
								      		<div class="modal-footer">  
									        	<button type="button" id="xoa" class="btn btn-primary" style="width: 90px;" onclick="xoaNV();">OK</button>
									        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Delete">Cancel</button> 
									        </div>  
								 		</div>
								 	</div>
								 	<!-- Ket thuc Modal -->										
								</td>						
							</tr>	 
						<%};%>
					</tbody>
				</table>
				<% var url = "/danhSachNhanVien" + "?noi_dung_tim_kiem=" + noi_dung_tim_kiem;%> 
				<div class="container" align="right">
					<hr class="mt-2 mb-5">	
					<%if (pageCount > 1) { %>
				        <ul class="pagination">
				            <% if (currentPage > 1) { %>
				                <li><a href=<%=url + "&page=1"%>>&laquo;</a></li>
				            <% }
				            var i = 1;
				            if (currentPage > 5) {
				                i = currentPage - 4;
				            } %>
				            <% if (i !== 1) { %>
				                <li class="disabled"><a href="#">...</a></li>
				            <% } %>
				            <% for (i; i<=pageCount; i++) { %>
				                <% if (currentPage == i) { %>
				                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
				                <% } else { %> 
				                    <li><a href=<%=url+"&page="+ i %>><%= i %></a></li>
				                <% } %>
				                <% if (i == (currentPage + 4)) { %>
				                    <li class="disabled"><a href="#">...</a></li>
				                <% break; } %>
				            <% } %>
				            <% if (currentPage != pageCount) { %>
				                <li><a href=<%=url+"&page="+ pageCount %>>&raquo;</a></li>
				            <% } %>
				        </ul>
				    <% } %>	
			</div>
			<!-- Modal -->
		 	<div class="modal fade" id="editModal" role="dialog">
		    	<div class="modal-dialog modal-lg">
		    
		      	<!-- Noi dung cua modal -->
		      	<div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Thông tin nhân viên</h4>
			        </div>

			        <!-- Thong tin cua nhan vien -->
			        <div class="modal-body">  
		        		<div class="form-group-inline">
		       				<label for="ma-nhan-vien">Mã nhân viên: </label>
		       				<div class="input-group">
		       					<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i> 
								</span>
								<input type="text" class="form-control" required="" id="MaNV" disabled="">
		       				</div>
	           			</div>   
						<div class="form-group-inline">
	           				<label for="ma-nhan-vien">Tên nhân viên: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i> 
								</span>
								<input type="text" class="form-control" required="" id="HoTen_Edit">
	           				</div>
	           			</div>   

	           			<div class="form-group-inline">
	           				<label for="ma-nhan-vien">Số điện thoại: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-phone"></i> 
								</span>
								<input type="text" class="form-control" required id="SoDienThoai_Edit" id="sdt">
	           				</div>
	           			</div>  

	           			<div class="form-group-inline">
	           				<label for="ma-nhan-vien">Địa chỉ: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-home"></i> 
								</span>
								<input type="text" class="form-control" required="" id="DiaChi_Edit">
	           				</div>
	           			</div>   

	           			<div class="form-group-inline">
	           				<label for="ma-nhan-vien">Email: </label>
	           				<div class="input-group">
	           					<span class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i> 
								</span>
								<input type="text" class="form-control" required="" id="Email_Edit">
	           				</div>
	           			</div>   
			       	</div>
		      		<div class="modal-footer">  
			        	<button type="button" id="luu" class="btn btn-primary" style="width: 90px;" onclick="suaNV();">Lưu</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Edit">Close</button> 
			        </div>  
		 		</div>
		 	</div>
		 	<!-- Ket thuc Modal -->	
		</div>	 
	</div>
	<script type="text/javascript" language="javascript">  
		function themNV() {    
			var valid = true; // Kiem tra thong tin trong form co hop le: true => hop le

			// pattern kiem tra email va so dien thoai 
			var patternSDT = /^[0-9]{10,}$/;
			var patternEmail= /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
			var sdt = document.getElementById("SoDienThoai").value;
			var email = document.getElementById("Email").value; 

			if (!patternSDT.test(sdt, "gi")) {
				alert("Số điện thoại có ít nhất 10 số.");
				valid = false;
			}

			if (!patternEmail.test(email)) {
				alert("Email không đúng định dạng.");
				valid = false;
			}
	 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/themNhanVien", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (// xu ly ajax
							dsnv = document.getElementById("DSNV"); 
							danhsachnhanvien = JSON.parse(xmlhttp.responseText);  
							hienthi = '<table class="table table-striped">';
								hienthi += '<thead>';
									hienthi += '<tr>';
										hienthi += '<th>STT</th>'; 
										hienthi += '<th>Mã nhân viên</th>'; 
										hienthi += '<th>Họ tên</th>'; 
										hienthi += '<th>Địa chỉ</th>'; 
										hienthi += '<th>Email</th>';
										hienthi += '<th>Số điện thoại</th>'; 
										hienthi += '<th>Hành động</th>'; 
									hienthi += '</tr>';
								hienthi += '</thead>';
								hienthi += '<body>';
								for (var i = 0; i < danhsachnhanvien.length; i++)
								{
									hienthi += '<tr>';
										hienthi += '<td>' + (i + 1) + '</td>';
										hienthi += '<td>' + danhsachnhanvien[i].MaNV+ '</td>';
										hienthi += '<td>' + danhsachnhanvien[i].HoTen+ '</td>';
										hienthi += '<td>' + danhsachnhanvien[i].DiaChi+ '</td>';
										hienthi += '<td>' + danhsachnhanvien[i].Email+ '</td>';
										hienthi += '<td>' + danhsachnhanvien[i].SoDienThoai+ '</td>';
										hienthi += 
										'<td>' +							
											'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTNhanVien(' + danhsachnhanvien[i].id + ');" data-toggle="modal" data-target="#editModal">' +
									    		'<span class="glyphicon glyphicon-wrench"></span>' + 
											'</button>' +  
											'<button type="submit" class="btn btn-default" name="delete">' + 
											    '<span class="glyphicon glyphicon-trash"></span>' + 
											'</button>' + 											
										'</td>';				
									hienthi += '</tr>';
								}
								hienthi +='</body>';
							hienthi += '</table>'; 
							// Tao html trong the co id = "menu"
							dsnv.innerHTML = hienthi; 
							
						}
						else {
							alert("Error!");
						}
					}

				}
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinNV = JSON.stringify({"HoTen": document.getElementById("HoTen").value, "SoDienThoai": document.getElementById("SoDienThoai").value, "DiaChi": document.getElementById("DiaChi").value, "Email": document.getElementById("Email").value});

				xmlhttp.send(thongTinNV); 
			}
		}
		var id;
		function layTTNhanVien(id, MaNV, HoTen, SoDienThoai, DiaChi, Email) {
			this.id = id;  
			document.getElementById("MaNV").value = MaNV;
			document.getElementById("HoTen_Edit").value = HoTen;
			document.getElementById("SoDienThoai_Edit").value = SoDienThoai;
			document.getElementById("DiaChi_Edit").value = DiaChi;
			document.getElementById("Email_Edit").value = Email;  
		}

		function suaNV() {  
			var valid = true;  
			// pattern kiem tra email va so dien thoai 
			var patternSDT = /^[0-9]{10,}$/;
			var patternEmail= /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
			var sdt = document.getElementById("SoDienThoai_Edit").value;
			var email = document.getElementById("Email_Edit").value; 

			if (!patternSDT.test(sdt, "gi")) {
				alert("Số điện thoại có ít nhất 10 số.");
				valid = false;
			}

			if (!patternEmail.test(email)) {
				alert("Email không đúng định dạng.");
				valid = false;
			}
	 
			if (valid) {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/suaNhanVien", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText == "1") { 
							window.location = "/danhSachNhanVien";
						}
						else if (xmlhttp.responseText == "0") {
							alert("Error!");
						}
					}

				} 
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinNV = JSON.stringify({"id": this.id, "HoTen": document.getElementById("HoTen_Edit").value, "SoDienThoai": document.getElementById("SoDienThoai_Edit").value, "DiaChi": document.getElementById("DiaChi_Edit").value, "Email": document.getElementById("Email_Edit").value});

				xmlhttp.send(thongTinNV); 
			}
		} 
	</script>
</body>
</html>