<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trang chủ</title>
	<% include ../partials/head %>
	<style>
		html, body{
			height: 100%
		}
	</style>
</head> 
	<!-- Header --> 
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<div id="menu" class="contaier-fluid" style="width: 100%; margin-left: 0px;">
			<% include ../partials/admin %>
		</div> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<div class="row">
				<div class="form-group">
					<div class="col-sm-3">
						<a href="/danhSachTaiKhoan">
							<h4 style="color: red;"><b>Danh sách tài khoản</b></h4>
						</a>					
					</div> 
				</div>
				<form action="/danhSachTaiKhoan" method="get">
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-2">
							<input type="text" name="TenTk" class="form-control" placeholder="Nhập tên tài khoản..." id="TenTk">
						</div>
						<div class="col-sm-1">
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div> 
						</div>  
					</div>  
				</form>
				<div class="col-sm-2" style="text-align: right; margin-left: 82px;">
					<button type="button" class="btn btn-primary" style="text-align: right;">Thêm tài khoản</button>
				</div> 
			</div>
			<hr>
			<table class="table table-striped">
				<thead>
					<th>STT</th>
					<th>Tên tài khoản</th>
					<th>Họ tên</th>
					<th>Địa chỉ</th>
					<th>Email</th>
					<th>Số điện thoại</th>
					<th>Action</th>
				</thead>
				<tbody>
					<% for (var i = 0; i < danhSachTaiKhoan.length; i++) { %>
						<tr>
							<td><%= i + 1 %></td>
							<td><%=danhSachTaiKhoan[i].TenTk%></td>
							<td><%=danhSachTaiKhoan[i].HoTen%></td>
							<td><%=danhSachTaiKhoan[i].DiaChi%></td>
							<td><%=danhSachTaiKhoan[i].Email%></td>
							<td><%=danhSachTaiKhoan[i].SoDienThoai%></td>
							<td><a href="#"  style="text-decoration: none;">Reset mật khẩu</a></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<br>
	<br>
	<!-- Footer -->
	<% include ../partials/footer %>
 
</body>
</html>
