<!DOCTYPE html>
<html>
<head>
	<title>Quản lí mượn sách</title>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body style="margin-right: 0 !important; overflow-y: auto;">	
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<div class="row">
				<div class="form-group">
					<div class="col-sm-3">
						<a href="/quanLyMuonSach">
							<h4 style="color: red;"><b>Danh sách mượn sách</b></h4>
						</a>
					</div> 
				</div> 
				<form action="/quanLyMuonSach" method="get">
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-2">
							<input type="text" class="form-control" placeholder="Tìm kiếm tại đây..." name="noi_dung_tim_kiem">
						</div>
						<div class="col-sm-1">
							<div class="btn-group"> 
								<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
							</div> 
						</div>  
					</div>					
				</form>
				<div class="col-sm-2" style="float: right;">
					<button type="button" class="btn btn-primary" style="text-align: right;" onclick="openModal_ThemPhieuMuon();">Thêm phiếu mượn</button>
					<!-- Modal -->
				 	<div class="modal fade" id="addModal" role="dialog">
				    	<div class="modal-dialog modal-lg" style="width: 900px;">
				    
				      	<!-- Noi dung cua modal -->
				      	<div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Thêm phiếu mượn</h4>
					        </div>

					        <!-- Thong tin phieu muon -->
					        <div class="modal-body">
					        	<div class="form-group">
							        <label for="ThoiHanMuon" style="float: left;">Thời hạn mượn&nbsp;</label>
							        <select id="ThoiHanMuon" class="col-sm-2" onchange="thoiHanMuon(this);">
							        	<option value="3 tháng">3 tháng</option>
							        	<option value="6 tháng">6 tháng</option>
							        	<option value="1 năm">1 năm</option>
							        </select> 
							    </div>
							    <hr>
							    <div class="form-group">
								    <div class="panel panel-primary">
										<div class="panel-heading">
											Thông tin độc giả
										</div>
										<div class="panel-body">
											<div class="form-inline">
							       				<label>Mã độc giả: </label>
							       				<input type="text" class="form-control" required="" id="MaThe" onkeypress="layTTDocGia(event);">
							       				<p id="check_DocGia" style="color: red;"></p>
						           			</div>
										    <div class="form-group-inline">
							       				<label >Tên độc giả: </label>
							       				<input type="text" class="form-control" required="" id="HoTen" disabled="">
						           			</div>
						           			<div class="form-group-inline">
							       				<label>Email: </label>
							       				<input type="text" class="form-control" required="" id="Email" disabled="">
						           			</div>
						           			<div class="form-group-inline">
							       				<label>Số điện thoại: </label>
							       				<input type="text" class="form-control" required="" id="SoDienThoai" disabled="">
						           			</div>
											
										</div>
									</div>
									<div class="panel panel-primary">
										<div class="panel-heading">
											Thông tin sách mượn
										</div>
										<div class="panel-body">
											<div class="form-inline">
							       				<label>Mã vạch: </label>
							       				<input type="text" class="form-control" required="" id="MaVach" onkeypress="sachMuon(event);">
							       				<p id="check_Sach" style="color: red;"></p>
												<table class="table table-striped" id="table_dssach">
													<thead> 
														<th>STT</th>
														<th>Mã vạch</th>
														<th>Tên sách</th>  
													</thead>
													<tbody id="sachmuon"> 
													</tbody>
												</table>
						           			</div>
										</div>
									</div>
									<label>Tổng số sách mượn: </label>
									<input type="text" class="form-control" required="" id="TongSoSachMuon" disabled="">
									<label>Tổng tiền cọc: </label>
									<input type="text" class="form-control" required="" id="TongTienCoc" disabled="">
								</div>	
				       		</div>
				      		<div class="modal-footer">  
					        	<button type="button" id="taomoi" class="btn btn-primary" style="width: 90px;" onclick="themPhieuMuon();">Tạo mới</button>
					        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close">Close</button> 
					        </div>  
				 		</div>
				 	</div>
				 	<!-- Ket thuc modal -->
				</div>
			</div>
			<br><br>
			<hr> 
			<div id="danh_sach_muon_sach">
				<table class="table table-striped" id="danhsachsachmuon">
					<thead> 
						<th>STT</th>
						<th>Mã thẻ</th>
						<th>Ngày mượn</th> 
						<th>Thời hạn mượn</th>
						<th>Mã NV cho mượn</th>
						<th>Mã NV trả</th>
						<th>Tổng số sách</th>
						<th>Tổng tiền cọc</th>
						<th>Hành động</th> 
					</thead>
					<tbody> 
						<%for (var i=0; i<danhSachMuonSach.length; i++){%>
							<tr>
								<td><%=i+1%></td>
								<td><%=danhSachMuonSach[i].MaThe%></td>
								<td><%=danhSachMuonSach[i].NgayMuon%></td>
								<td><%=danhSachMuonSach[i].ThoiHanMuon%></td>
								<td><%=danhSachMuonSach[i].MaNV_Muon%></td>
								<td><%=danhSachMuonSach[i].MaNV_Tra%></td>
								<td><%=danhSachMuonSach[i].TongSoSach%></td>
								<td><%=danhSachMuonSach[i].TongTienCoc%></td>
								<td>
									<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTPhieuMuon(<%=danhSachMuonSach[i].id%>);" data-toggle="modal" data-target="#editModal">
									    <span class="glyphicon glyphicon-wrench"></span>
									</button>  								
								</td> 
							</tr>	 
						<%};%>
					</tbody>
				</table>
				<hr>
				<label id="label_TongSoSach">Tổng số sách mượn: <%=TongSoSach%></label> quyển
				<br>
				<label id="label_TongTienCoc">Tổng tiền đặt cọc: <%=TongTienCoc%></label> VNĐ
				<% var url = "/quanLyMuonSach" + "?noi_dung_tim_kiem=" +noi_dung_tim_kiem; 
				var i = 1;%>  
				<div class="container" align="right" id="phantrang">
					<hr class="mt-2 mb-5">	
					<%if (pageCount > 1) { %>
				        <ul class="pagination">
				            <% if (currentPage > 1) { %>
				                <li><a href=<%=url + "&page=1"%>>&laquo;</a></li>
				            <% }
				            
				            if (currentPage > 5) {
				                i = currentPage - 4;
				            } %>
				            <% if (i !== 1) { %>
				                <li class="disabled"><a href="#">...</a></li>
				            <% } %>
				            <% for (i; i<=pageCount; i++) { %>
				                <% if (currentPage == i) { %>
				                    <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
				                <% } else { %> 
				                    <li><a href=<%=url+"&page="+ i %>><%= i %></a></li>
				                <% } %>
				                <% if (i == (currentPage + 4) && pageCount!=5) { %>
				                    <li class="disabled"><a href="#">...</a></li>
				                <% break; } %>
				            <% } %>
				            <% if (currentPage != pageCount) { %>
				                <li><a href=<%=url+"&page="+ pageCount %>>&raquo;</a></li>
				            <% } %>
				        </ul>
				    <% } %>	
			</div>
			<!-- Modal Sua-->
		 	<div class="modal fade" id="editModal" role="dialog">
		    	<div class="modal-dialog modal-lg" style="width: 900px;">
		    
		      	<!-- Noi dung cua modal -->
		      	<div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Sửa thông tin phiếu mượn</h4>
			        </div>

			        <!-- Thong tin cua nhan vien -->
			        <div class="modal-body">  
		        		<div class="form-inline"> <!-- Date input -->
					        <label>Ngày mượn</label>
					        <input id="NgayMuon" name="date" placeholder="yyyy-mm-dd" type="text"/>
					        <label>Thời hạn mượn</label>
					        <input id="ThoiHanMuon" type="text"/>
					    </div>
					    <hr>
					    <div class="form-group">
						    <div class="panel panel-primary">
								<div class="panel-heading">
									Thông tin độc giả
								</div>
								<div class="panel-body">
									<div class="form-inline">
					       				<label>Mã độc giả: </label>
					       				<input type="text" class="form-control" required="" id="MaThe_Edit" onkeypress="layTTDocGia(event);">  
				           			</div>
								    <div class="form-group-inline">
					       				<label >Tên độc giả: </label>
					       				<input type="text" class="form-control" required="" id="HoTen" disabled="">
				           			</div>
				           			<div class="form-group-inline">
					       				<label>Email: </label>
					       				<input type="text" class="form-control" required="" id="Email" disabled="">
				           			</div>
				           			<div class="form-group-inline">
					       				<label>Số điện thoại: </label>
					       				<input type="text" class="form-control" required="" id="SoDienThoai" disabled="">
				           			</div>
									
								</div>
							</div>
							<div class="panel panel-primary">
								<div class="panel-heading">
									Thông tin sách mượn
								</div>
								<div class="panel-body">
									<div class="form-inline">
					       				<label>Mã vạch: </label>
					       				<input type="text" class="form-control" required="" id="MaVach_Edit">
										<table class="table table-striped">
											<thead> 
												<th>STT</th>
												<th>Mã vạch</th>
												<th>Tên sách</th>  
											</thead>
											<tbody>
												
											</tbody>
										</table>
				           			</div>
								</div>
							</div>
							<label>Tổng số sách mượn: </label>
							<input type="text" class="form-control" required="" id="TongSoSachMuon_Edit" disabled="">
							<label>Tổng tiền đặt cọc: </label>
							<input type="text" class="form-control" required="" id="TongTienCoc_Edit" disabled="">
						</div>   
			       	</div>
		      		<div class="modal-footer">  
			        	<button type="button" id="luu" class="btn btn-primary" style="width: 90px;" onclick="suaNV();">Lưu</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 90px;" id="close_Edit">Close</button> 
			        </div>  
		 		</div>
		 	</div>
		 	<!-- Ket thuc Modal Sua-->	
		</div>	 
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
	    var date_input=$('input[name="date"]'); //our date input has the name "date"
	    var container=$('.bootstrap form').length>0 ? $('.bootstrap form').parent() : "body";
	    var options={
	    	format: 'yyyy-mm-dd',
	        container: container,
	        todayHighlight: true,
	        autoclose: true,
	    };
	    date_input.datepicker(options);
	})
	var MaThe;
	function openModal_ThemPhieuMuon() { 
		$("#addModal").modal();
		document.getElementById("MaThe").value = '';
		document.getElementById("HoTen").value = '';
		document.getElementById("Email").value = '';
		document.getElementById("SoDienThoai").value = '';
		document.getElementById("MaVach").value = ''; 
		document.getElementById("TongSoSachMuon").value = '';
		document.getElementById("TongTienCoc").value = '';
		table = document.getElementById("table_dssach"); 
	 	for(var i = 1; i<table.rows.length;){
            table.deleteRow(i);
        }
	}
	function layTTDocGia(event) {
		if (event.keyCode == 13) { // nhan phim enter
			MaThe = document.getElementById("MaThe").value;
			if (MaThe.trim() == "") document.getElementById("check_DocGia").innerHTML = "";
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/layTTDocGia", false); 
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
					if (xmlhttp.responseText != "0") { 
						thongtindocgia = JSON.parse(xmlhttp.responseText)[0]; 
						document.getElementById("check_DocGia").innerHTML = "";
						document.getElementById("HoTen").value = thongtindocgia.HoTen;
						document.getElementById("Email").value = thongtindocgia.Email;
						document.getElementById("SoDienThoai").value = thongtindocgia.SoDienThoai;
					}
					else {
						document.getElementById("check_DocGia").innerHTML = "Không tìm thấy thông tin độc giả";
						document.getElementById("HoTen").value = '';
						document.getElementById("Email").value = '';
						document.getElementById("SoDienThoai").value = '';
					}
				}

			}
			xmlhttp.setRequestHeader('Content-type', 'application/json');
			var thongTinDG = JSON.stringify({"MaThe": MaThe}); 
			xmlhttp.send(thongTinDG); 
		}
	}
	var TongTienCoc = 0;
	var danhSachMaVach = [];
	function sachMuon() {  
		if (event.keyCode == 13) { // nhan phim enter 
			tr = document.getElementById("sachmuon");
			MaVach = document.getElementById("MaVach").value;
			if (MaVach.trim() == "") document.getElementById("check_Sach").innerHTML = ""; 
			if (danhSachMaVach.indexOf(MaVach) >= 0) {
				document.getElementById("check_Sach").innerHTML = "Trùng mã vạch";
			}
			else {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/layTTSachMuon", false); 
				xmlhttp.onreadystatechange = function() {
					if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
						if (xmlhttp.responseText != "0") { 
							danhSachMaVach.push(MaVach);
							// Lay tong so hang cua bang 
							var totalRowCount = $("#table_dssach tr").length - 1; 
							thongtinsachmuon= JSON.parse(xmlhttp.responseText)[0];  
							list = `
								<tr>
									<td>` + (totalRowCount +1) +`</td>
									<td>` + thongtinsachmuon.MaVach + `</td>
									<td>` + thongtinsachmuon.tenTL +`</td> 
								</tr>
							`;
							document.getElementById("TongSoSachMuon").value = totalRowCount + 1;
							TongTienCoc += thongtinsachmuon.GiaBia;
							var TongTienCoc1 = TongTienCoc;
							ThoiHanMuon = document.getElementById("ThoiHanMuon").value;
							if (ThoiHanMuon == "3 tháng") {
								TongTienCoc1 = Math.ceil(TongTienCoc1 / 2); 
							}
							else if (ThoiHanMuon == "6 tháng") {
								TongTienCoc1 = Math.ceil(3 * TongTienCoc1 / 4); 
							} 
							// Tinh tong so tien dat coc
							document.getElementById("TongTienCoc").value = TongTienCoc1;

							// Tao html trong the co id = "sachmuon"
							tr.insertAdjacentHTML('beforebegin', list);
							document.getElementById("check_Sach").innerHTML = "";
						}
						else {
							document.getElementById("check_Sach").innerHTML = "Không tìm thấy thông tin sách";
						}
					}

				}
				xmlhttp.setRequestHeader('Content-type', 'application/json');
				var thongTinDG = JSON.stringify({"MaVach": MaVach}); 
				xmlhttp.send(thongTinDG);  
			}  
		}
	}

	function themPhieuMuon() {
		var check = true;
		if(document.getElementById('HoTen').value.trim() == '') {
			document.getElementById("check_DocGia").innerHTML = "Vui lòng điền mã độc giả";
			check = false;
		}
		// Lay tong so hang cua bang 
		var totalRowCount = $("#table_dssach tr").length - 1; 
		if(totalRowCount == 0) {
			document.getElementById("check_Sach").innerHTML = "Vui lòng điền các mã vạch";
			check = false;
		}
		if (check) {
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", "/themPhieuMuon", false); 
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
					if (xmlhttp.responseText != "0") {     
						danhSachMuonSach = JSON.parse(xmlhttp.responseText);
						document.getElementById("close").click(); 
				        // xu ly ajax 
						ketqua = JSON.parse(xmlhttp.responseText); // ket qua do server gui ve co dang JSON 
						danhsachmuonsach = ketqua.danhsachmuonsach;
						pageCount = ketqua.pageCount;

						// Xu ly bang hien thi danh sach muon tra
						hienthi = '<table class="table table-striped" id="table_dssach">';
							hienthi += '<thead>'; 
								hienthi += '<th>STT</th>'; 
								hienthi += '<th>Mã thẻ</th>'; 
								hienthi += '<th>Ngày mượn</th>';   
								hienthi += '<th>Thời hạn mượn</th>';
								hienthi += '<th>Mã NV cho mượn</th>';
								hienthi += '<th>Mã NV trả</th>';
								hienthi += '<th>Tổng số sách</th>';
								hienthi += '<th>Tổng tiền đặt cọc</th>';
								hienthi += '<th>Hành động</th>';
							hienthi += '</thead>';
							hienthi += '<body>';
							for (var i = 0, j=(pageCount - 1)*4; i < danhsachmuonsach.length && j<(danhsachmuonsach.length + 4 * pageCount); i++, j++)
							{
								hienthi += '<tr>';
									hienthi += '<td>' + (j + 1) + '</td>';
									hienthi +=  '<td>' + danhsachmuonsach[i].MaThe + '</td>';
									hienthi += '<td>' + danhsachmuonsach[i].NgayMuon + '</td>'; 
									hienthi +=  '<td>' + danhsachmuonsach[i].ThoiHanMuon + '</td>';
									hienthi +=  '<td>' + danhsachmuonsach[i].MaNV_Muon + '</td>';
									if (danhsachmuonsach[i].MaNV_Tra) {
										hienthi +=  '<td>' + danhsachmuonsach[i].MaNV_Muon + '</td>';
									}
									else hienthi +=  '<td></td>';
									hienthi +=  '<td>' + danhsachmuonsach[i].TongSoSach + '</td>';
									hienthi +=  '<td>' + danhsachmuonsach[i].TongTienCoc + '</td>';
									hienthi += 
									'<td>' +							
										'<button type="submit" class="btn btn-default" name="edit" id="buttonEdit" onclick="layTTPhieuMuon(' + danhsachmuonsach[i].id + ');' + '"' + ' data-toggle="modal" data-target="#editModal">' +
								    		'<span class="glyphicon glyphicon-wrench"></span>' + 
										'</button>' +   							
									'</td>';				
								hienthi += '</tr>';
							}
							hienthi +='</body>';
						hienthi += '</table>'; 

						// Tao html trong the co id = "menu"
						document.getElementById('danhsachsachmuon').innerHTML = hienthi; 

						// Thay doi url den trang cuoi cung
						var url = "/quanLyMuonSach" + "?noi_dung_tim_kiem=&page=" + pageCount; 
				  		
				  		// Xu ly phan trang
			    		phantrang = document.getElementById('phantrang');
			    		hienthi_phantrang = '<hr class="mt-2 mb-5">';
			    		hienthi_phantrang += '<ul class="pagination">';
			    		hienthi_phantrang += '<li><a href=" ' + "/quanLyMuonSach?noi_dung_tim_kiem=" + "&page=1"+ '">' + '&laquo;</a></li>';
			    		 
			    		if (pageCount > 5)  { 
			    			var amount = 0;
			    			hienthi_phantrang += '<li><a disabled>...</a></li>';
			    			for(var i = pageCount - 4; i >= 0 && i < pageCount; i++) {
			    			amount += 1;
			    			if (i > 0) hienthi_phantrang += '<li><a href=" ' + "/quanLyMuonSach?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>';  
			    			}   
			    		} 
			    		else {
			    			for(var i = 1; i < pageCount; i++) { 
			    				hienthi_phantrang += '<li><a href=" ' + "/quanLyMuonSach?noi_dung_tim_kiem=" + "&page="+ i + '">' + i + '</a></li>'; 
			    			}
			    		}
			    		hienthi_phantrang += '<li class="active"><a href=" ' + "/quanLyMuonSach?noi_dung_tim_kiem=" + "&page="+ pageCount + '">' + pageCount + '</a></li>'; 
			            hienthi_phantrang += '</ul>'; 

						// Tao html trong the co phantrang = "menu"
						phantrang.innerHTML = hienthi_phantrang; 

						// Thay doi gia tri url 
						history.pushState(null, '', url);  
						document.getElementById("label_TongSoSach").innerHTML = "Tổng số sách mượn:" + ketqua.TongSoSach + " quyển";
						document.getElementById("label_TongTienCoc").innerHTML = "Tổng tiền đặt cọc: " +ketqua.TongTienCoc + " VNĐ";
					}
					else {
						alert("Error!");
					}
				}

			}
			xmlhttp.setRequestHeader('Content-type', 'application/json');
			var thongTinPhieuMuon = JSON.stringify({"MaThe": MaThe, "DanhSachMaVach": danhSachMaVach, "ThoiHanMuon": document.getElementById('ThoiHanMuon').value, "MaNV_Muon": sessionStorage.getItem('username'),"TongTienCoc": document.getElementById("TongTienCoc").value}); 
			console.log(thongTinPhieuMuon);
			 
			xmlhttp.send(thongTinPhieuMuon);  
		}
	}

	// Thay doi thoi han muon
	function thoiHanMuon() { 
		TongTienCoc1 = TongTienCoc;
		ThoiHanMuon = document.getElementById("ThoiHanMuon").value;
		if (ThoiHanMuon == "3 tháng") {
			TongTienCoc1 = Math.ceil(TongTienCoc1 / 2); 
		}
		else if (ThoiHanMuon == "6 tháng") {
			TongTienCoc1 = Math.ceil(3 * TongTienCoc1 / 4); 
		}  
		// Tinh tong so tien dat coc
		document.getElementById("TongTienCoc").value = TongTienCoc1; 
	}
 
	// Sua thong tin phieu muon
	function LayTTPhieuMuon(id) { 
		
	}
</script>
</html>